<header>
    <div class="logo">
        <img class="dices" src="../../assets/dices.svg" alt="">
        <h1 class="title">Roll the dice</h1>
    </div>
    <!-- <div class="right">
        <span class="player">Hello Player!</span>
        <button type="button">Leave game</button>
    </div> -->
</header>
<div class="container">
    <main>
        <h3>How to play</h3>
        <div class="card info">
            Simply click on the button to roll the dices. <br />
            The sum of the result will give your score.<br />
            The score is based on the <a href="https://en.wikipedia.org/wiki/Fibonacci_number" target="_blank">fibonacci sequence</a>.<br />
        </div>
        <div class="card game">
            <app-dices></app-dices>
        </div>
    </main>
    <aside>
        <h3>Score board</h3>
        <div class="card score">
            <ul>
                <li *ngFor="let history of history$ | async">[{{ history.date | date: 'short' }}] Player {{ history.user }} rolled {{ history.roll }}. Score: {{ history.score }}</li>
            </ul>
        </div>        
    </aside>
</div>