header {
    height: 70px;
    display: flex;
    justify-content: space-between;

    .dices {
        height: 50px;
        margin: 0 15px;
        position: relative;
        top: 8px;
    }

    .title {
        color: #fff;
        font-family: 'Great Vibes', cursive;
        font-size: 3rem;
        text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: .5);
        margin: 0;
        display: inline;
    }
}

.container {
    display: flex;
    height: calc(100vh - 70px);
    padding: 10px;

    main {
        padding: 10px;
        flex: 1;

        .game {
            height: calc(100vh - 270px);
            margin: 20px 0;
            background: linear-gradient(#545454, #454545, #676767);
        }
    }

    aside {
        padding: 10px;
        min-width: 500px;

        .score {
            height: calc(100vh - 160px);
            overflow: auto;
        
            ul {
                list-style: none;

                li {
                    transform-origin: 50% 0;
                    animation: new-item .2s linear;
                }
            }
        }
    }
}

h3 {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

.card {
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
}

@keyframes new-item {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}