<div class="header">
    <div class="logo">
        <img class="dices" src="../../assets/dices.svg" alt="">
        <h1 class="title">Roll the dice</h1>
    </div>
    <div class="right">
        <span class="player">Welcome {{ name }}!</span>
        <button class="leave" type="button" (click)="leaveGame()">Leave game</button>
    </div>
</div>
<div class="container">
    <main>
        <h3>How to play</h3>
        <div class="card info">
            Simply click on the button to roll the dices. <br />
            The sum of the result will give your score.<br />
            The score is based on the <a href="https://en.wikipedia.org/wiki/Fibonacci_number" target="_blank">fibonacci sequence</a>.<br />
        </div>
        <div class="card game">
            <app-dices></app-dices>
        </div>
    </main>
    <aside>
        <app-history></app-history>      
    </aside>
</div>