.score {
    height: calc(100vh - 160px);
    overflow: auto;

    ul {
        list-style: none;

        li {
            transform-origin: 50% 0;
            animation: new-item .2s linear;
        }
    }
}

@keyframes new-item {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}